raymond hettinger ( beginner)
david breazley
wes mckinney
JVP - Jake Vanderplas

raymond hettinger <br>
david breazley <br>
wes mckinney - <br>
JVP - Jake Vanderplas

> Add blockquote

In [1]:
# https://github.com/enuguru/pythonprogramming
# https://www.youtube.com/watch?v=OSGv2VnC0go

for num in range(10):
  print(num * num , end =" ")

0 1 4 9 16 25 36 49 64 81

In [7]:
print([ x* x for x in range(10) ])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
print([ x for x in range(26) if x % 3 ==0 ])

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [11]:
print({ x for x in range(26) if x % 3 ==0 } )

{0, 3, 6, 9, 12, 15, 18, 21, 24}

In [13]:
#dictionary Comprehension
# key:value

print({ x:x* x for x in range(10) })

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [14]:
print({ x:x* x for x in range(10) if x % 2 ==0 })

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

perfect number one liner

In [3]:
print([x for x in range(1,10000) if sum(y for y in range(1,x) if x%y == 0)==x])

[6, 28, 496, 8128]

In [2]:
import time
start = time.time()
# print([x for x in range(1,10000) if sum(y for y in range(1,x) if x %y == 0)==x])
print([x for x in range(1,10000) if sum(y for y in range(1,x) if x%y == 0)==x])
end = time.time()
print(end-start)

[6, 28, 496, 8128]
5.037956953048706

In [20]:
print({x:x for x in range(1,10000)  if sum(y for y in range(1,x) if x% y ==0) ==x })

{6: 6, 28: 28, 496: 496, 8128: 8128}

In [21]:
print(*(x for x in range(1,10000)  if sum(y for y in range(1,x) if x% y ==0) ==x ))

6 28 496 8128

In [4]:
import time
start = time.time()
for num in range(2,10000):
  sum =0
  for val in range(1,num):
    if num % val ==0:
      sum = sum + val
  if sum == num:
    print(num , end =" ")
end = time.time()
print(end - start)

6 28 496 8128 5.468966960906982

**map reduce  filter groupby lambda **

In [6]:
def newfunc(x):
  return x* x * x

expr = list(map(newfunc, [2,4,6,8,10,12]))
print(expr)

[8, 64, 216, 512, 1000, 1728]

In [7]:
expr = list(map(lambda x:x*x*x, [2,4,6,8,10,12]))
print(expr)

[8, 64, 216, 512, 1000, 1728]

In [8]:
mynum = [2,4,6,8,10,12]
for val in mynum :
  print(val * val * val , end =" ")

8 64 216 512 1000 1728

In [11]:
def numfunc1(x):
  return x % 6 == 5

expr = list(filter(numfunc1, range(1,52)))
print(expr)

[5, 11, 17, 23, 29, 35, 41, 47]

In [16]:
def numfunc1(x):
  return x % 2 == 1

expr = list(map(numfunc1, [2,4,6,8,10,12] ))
print(expr)

[False, False, False, False, False, False]

In [17]:
import functools as ft
newexpr = ft.reduce(lambda x,y:x+y, [2,4,6,8,10,12])
print(newexpr)

42

In [ ]:
# user defined functions - separate or member
# built in functions of built in ds
# built in functions of the python language
# functions of the built in python libraries
# functions of the third party python libraries