<a href="https://colab.research.google.com/github/ajaysinghrathore1/learn/blob/main/group_by_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from functools import partial
basetwo = partial(int, base=2)
basetwo.__doc__ = 'Convert base 2 string to an int.'
basetwo('10010')

18

In [6]:
binary_string = "10010"
decimal_number = int(binary_string, 2)
print(decimal_number)  # Output: 45

18

In [10]:
from functools import reduce
from itertools import groupby
from operator import itemgetter

# Sample data: list of (name, age) tuples
people = [
    ("Alice", 30),
    ("Bob", 17),
    ("Charlie", 25),
    ("David", 15),
    ("Eve", 40),
    ("Daniel", 22),
    ("Angela", 19),
    ("Brian", 34),
]

# Step 1: Filter out minors (age < 18)
adults = list(filter(lambda x: x[1] >= 18, people))
print("adults",adults)

# Step 2: Increment age by 1
aged_people = list(map(lambda x: (x[0], x[1] + 1), adults))
print("aged_people" ,aged_people)

# Step 3: Sort by first letter of name (required before groupby)
aged_people.sort(key=lambda x: x[0][0])
print("aged_people - " , aged_people)

# Step 4: Group by first letter of name
grouped = groupby(aged_people, key=lambda x: x[0][0])
print("grouped - " , grouped)
# Step 5: Reduce each group to a string of names
for key, group in grouped:
    names = list(map(lambda x: x[0], group))
    combined = reduce(lambda x, y: x + ", " + y, names)
    print(f"{key}: {combined}")

adults [('Alice', 30), ('Charlie', 25), ('Eve', 40), ('Daniel', 22), ('Angela', 19), ('Brian', 34)]
aged_people [('Alice', 31), ('Charlie', 26), ('Eve', 41), ('Daniel', 23), ('Angela', 20), ('Brian', 35)]
aged_people -  [('Alice', 31), ('Angela', 20), ('Brian', 35), ('Charlie', 26), ('Daniel', 23), ('Eve', 41)]
grouped -  <itertools.groupby object at 0x7e107eec9ee0>
A: Alice, Angela
B: Brian
C: Charlie
D: Daniel
E: Eve

In [14]:
from functools import reduce
from itertools import groupby

# Sample data
people = [
    ("Alice", 30),
    ("Bob", 17),
    ("Charlie", 25),
    ("David", 15),
    ("Eve", 40),
    ("Daniel", 22),
    ("Angela", 19),
    ("Brian", 34),
    ("Frank", 51),
    ("Gloria", 63),
]

# Step 1: Filter out minors
adults = list(filter(lambda x: x[1] >= 18, people))

# Step 2: Increase age by 1
aged_people = list(map(lambda x: (x[0], x[1] + 1), adults))

# Step 3: Categorize into age ranges
def age_group(age):
    if age < 30:
        return "Young Adults (18–29)"
    elif age < 50:
        return "Middle Aged (30–49)"
    else:
        return "Seniors (50+)"

# Add group key
people_with_group = list(map(lambda x: (age_group(x[1]), x[0]), aged_people))
print("people_with_group",people_with_group)

# Step 4: Sort by group for groupby
people_with_group.sort(key=lambda x: x[0])
print("people_with_group - ", people_with_group)

# Step 5: Group by age range and reduce names
grouped = groupby(people_with_group, key=lambda x: x[0])

# Output to file
with open("grouped_output.txt", "w") as file:
    for group_name, members in grouped:
        names = list(map(lambda x: x[1], members))
        name_str = reduce(lambda x, y: f"{x}, {y}", names)
        output_line = f"{group_name}: {name_str}"
        print(output_line)
        file.write(output_line + "\n")

people_with_group [('Middle Aged (30–49)', 'Alice'), ('Young Adults (18–29)', 'Charlie'), ('Middle Aged (30–49)', 'Eve'), ('Young Adults (18–29)', 'Daniel'), ('Young Adults (18–29)', 'Angela'), ('Middle Aged (30–49)', 'Brian'), ('Seniors (50+)', 'Frank'), ('Seniors (50+)', 'Gloria')]
people_with_group -  [('Middle Aged (30–49)', 'Alice'), ('Middle Aged (30–49)', 'Eve'), ('Middle Aged (30–49)', 'Brian'), ('Seniors (50+)', 'Frank'), ('Seniors (50+)', 'Gloria'), ('Young Adults (18–29)', 'Charlie'), ('Young Adults (18–29)', 'Daniel'), ('Young Adults (18–29)', 'Angela')]
Middle Aged (30–49): Alice, Eve, Brian
Seniors (50+): Frank, Gloria
Young Adults (18–29): Charlie, Daniel, Angela

In [15]:
from itertools import groupby

data = ['banana', 'apple', 'cherry', 'avocado']

# Step 1: sort by first letter
# data.sort(key=lambda x: x[0])

# Step 2: group by first letter
grouped = groupby(data, key=lambda x: x[0])

for k, g in grouped:
    print(k, list(g))

b ['banana']
a ['apple']
c ['cherry']
a ['avocado']

In [18]:
print(itemgetter(1)('ABCDEFG'))

print(itemgetter(1, 3, 5)('ABCDEFG'))

print(itemgetter(slice(2, None))('ABCDEFG'))

soldier = dict(rank='captain', name='dotterbart')
itemgetter('rank')(soldier)

B
('B', 'D', 'F')
CDEFG

'captain'

In [25]:
from itertools import groupby
from operator import itemgetter

# List of employee records (unsorted)
employees = [
    {"name": "Alice", "department": "HR"},
    {"name": "Bob", "department": "Engineering"},
    {"name": "Charlie", "department": "HR"},
    {"name": "David", "department": "Engineering"},
    {"name": "Eve", "department": "Marketing"},
    {"name": "Frank", "department": "HR"},
    {"name": "Grace", "department": "Marketing"},
]


# Sort by department first
employees.sort(key=itemgetter('department'))
# print("sorted employee - ", employees)

grpuped_by_department = groupby(employees, key=itemgetter('department'))
# print("grpuped_by_department - ", grpuped_by_department)

for key, group in grpuped_by_department:
    combined = [emp["name"]  for emp in group]
    print(key ," - ", combined)

Engineering  -  ['Bob', 'David']
HR  -  ['Alice', 'Charlie', 'Frank']
Marketing  -  ['Eve', 'Grace']